body {
    background-color: darkseagreen;
}


#score {
    font-size: 30px;
    margin-left: 60px;
    float: left;
}

#timer {
font-size: 30px;
float: right;
margin-right: 100;
}

#sketch-to-be-drawn {
    text-decoration-color: darkblue;
}